@charset "utf-8";

body{
    background: #000;
    color: #FFF;
    font-family: YuGothic, '游ゴシック', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
    -webkit-font-smoothing: antialiased;
}

#wrapper{
    padding: 120px 0 0;
}

#wrapper.pc{
}

img{
    width: 100%;
    height: auto;
}

header{
    position: fixed;
    top: 0;
    right: 50px;
    left: 50px;
    height: 120px;
    z-index: 100;
}
header h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 120px;
    font-size: 28px;
    font-style: italic;
    letter-spacing: 1px;
}

header nav{
    position: absolute;
    top: 0;
    right: 0;
}
header nav h2{
    position: absolute;
    z-index: 10;
    text-indent: -9999px;
    cursor: pointer;
    right: 50px;
    top: 30px;
    height: 50px;
    width: 50px;
}

header nav h2 span,
header nav h2:before,
header nav h2:after{
    height: 1px;
    position: absolute;
    display: block;
    width: 40px;
    left: 5px;
    background: #FFF; 
    top: 25px;
    transition: .3s;
    -webkit-transition: .3s;
}

header nav h2:before{
    content:"";
    top: 15px;
}

header nav h2:after{
    content:"";
    top: 36px;
}

.pc header nav h2:hover:before,
.pc header nav h2:hover:after{
    top: 25px;
}

header nav.open h2 span{
    opacity: 0;
    transition: 0s;
    -webkit-transition: 0s;
}

header nav.open h2:before{
    transform-origin: center;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    top: 25px;
}

header nav.open h2:after{
    transform-origin: center;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    top: 25px;
}

header nav ul{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0px;
    background: #FFF;
    background: rgba(180,180,180,0.8);
    padding-top: 120px;
    transition: .5s;
    -webkit-transition: .5s;
}

header nav.open ul{
    width: 400px;
}

header nav ul li a{
    font-family: 'Roboto', sans-serif;
    display: block;
    padding: 15px 50px;
    font-weight: 400;
    font-size: 26px;
    font-style: italic;
    color: #000;
    text-decoration: none;
}

header nav ul li.official{
    margin-top: 80px;
}

header nav ul li.official a{
    font-weight: 200;
}



#contents{
    width: 50%;
    margin-left: auto;
    margin-right: 0;
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}

#contents > section{
    padding-bottom: 50px;
}

#contents .body{
    font-size: 14px;
    width: 420px;
}

#contents section h2{
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    padding-left: 0px;
    position: relative;
    line-height: 4em;
}
#contents section h2:after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    left: 300px;
    height: 1px;
    background: #FFF;
}

#contents section {
    line-height: 1.6em;
}

/* release */
#release .jkt{
    margin-bottom: 30px;
}

#release h3{
    font-size: 16px;
    padding-bottom: 20px;
}

#release h4{
    padding-top: 20px
}

#release .buy{
    margin: 20px 0;
}
#release .buy li{
    float: left;
    padding-right: 10px;
}
#release .buy li a{
    padding: 7px 20px; 
    border: 1px solid #AAA;
    color: #FFF;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 14px;
    transition: .5s;
    -webkit-transition: .5s;
}
.pc #release .buy li a:hover{
    background: #FFF;
    color: #000;
}

#movie ul li{
    margin-bottom: 30px;
}

#movie .movie_wrapper{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    z-index: 1;
    max-width: 420px;
}

#movie .movie_wrapper iframe{
    position: absolute;
    top: 0 ;
    left: 0 ;
    height: 100% ;
    width: 100% ;
}

#linernotes .body p{
    margin: 15px 0;
    text-align: justify;
}

#linernotes .body p.author{
  text-align: right;
}

#linernotes .body p.cs{
    font-size: 16px;
}

#live h3{
    margin: 30px 0 15px;
    font-size: 15px;
}
#live ul li{
    margin-bottom: 1em;
}

#live p.headline{
    margin-top: 1em;
}

#live p a{
    color: #5e96ff;
}

/* flower */
#flower{
    position: fixed;
    left: -210px;
    width: 960px;
    top: 0px;
    bottom: 0px;
}

#flower p span{
    display: block;
    margin-top: -1em;
}

#flower .table{
    display: table;
    height: 100%;
}
#flower .table-cell{
    display: table-cell;
    vertical-align: middle;
}

footer{
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 2;
}

footer p.copyright{
    font-size: 11px;
    text-align: center;
    line-height: 80px;
}

/* leftnav */
footer .leftNav ul{
    position: fixed;
    width: 10px;
    left: 30px;
    top: 50%;
    transform: rotateZ(90deg);
    -webkit-transform: rotateZ(90deg);
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-top: -4em;
}
footer .leftNav ul li{
    display: inline;
}
footer .leftNav ul li a{
    color: #FFF;
    text-decoration: none;
    letter-spacing: 1px;
}

footer .leftNav ul li:first-child:after{
    content: " / ";
}

@media (min-width:1120px){
    #flower{
        left: -14%;
        width: 80%;
    }
    #flower video{
        width: 100%;
        height: auto;
    }
}

    /* SP */
    .sp{
        -webkit-text-size-adjust: 100%;
    }
    .sp header{
        left: 20px;
        right: 20px;
        height: 60px;
        background: rgba(0,0,0,0.6);
    }
    .sp header h1{
        font-weight: 500;
        line-height: 60px;
        font-size: 18px;
    }
    .sp header nav h2{
        right: 0px;
        top: 5px;
    }
    .sp header nav h2:before{
        top: 18px;
    }
    .sp header nav h2:after{
        top: 32px;
    }
    .sp header nav.open h2:before{
        top: 25px;
    }
    .sp header nav.open h2:after{
        top: 25px;
    }
    .sp header nav ul{
        padding-top: 80px;
    }
    .sp header nav.open ul{
        width: 90%;
    }
    .sp header nav ul li a{
        padding: 10px 20px;
    }
    .sp #contents{
        margin: 0 auto;
        width: auto;
    }
    .sp #contents section h2,
    .sp #contents .body{
        padding: 0px 30px 0px 20px;
        width: auto;
    }
    .sp #contents section h2:after{
        left: 50%;
    }
    .sp #contents .body{
        font-size: 12px;
        padding-left: 20px;
    }
    .sp #linernotes{
        background: rgba(0,0,0,0.3);
    }
    .sp #linernotes .body p{
        line-height: 1.8em;
    }
    .sp #flower{
        top: 20%;
        right: 0;
        bottom: 0;
        left: auto;
        width: 300px;
        overflow: hidden;
    }
    .sp #flower ul{
        width: 11000%;
    }
    .sp #flower ul li{
        float: left;
    }
    .sp footer{
        position: relative;
        background: transparent;
    }
    .sp footer .leftNav ul{
        position: static;
        transform: rotateZ(0);
        -webkit-transform: rotateZ(0);
        text-align: center;
        width: auto;
        padding-top: 30px;
    }
    .sp footer .leftNav ul li{
        display: inline-block;
    }
    .sp footer .leftNav ul li a{
        font-size: 14px;
    }
    @media (max-width:415px){
        .sp header{
            left: 10px;
            right: 10px;
        }
        .sp #contents .body,
        .sp #contents section h2{
            padding-left: 10px;
        }
        .sp #flower{
            top: auto;
            right: 0;
            bottom: 0;

        }
    }


